<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>

  <system.webServer>
    
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>

    <modules runAllManagedModulesForAllRequests="true" />
    
    <directoryBrowse enabled="true" />
    
  </system.webServer>

  <system.serviceModel>
    
    <protocolMapping>
      <add scheme="http" binding="webHttpBinding" />
    </protocolMapping>
    
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://vasya18-001-site1.dtempurl.com/"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>-->
    
    <services>
      <service behaviorConfiguration="serviceBehavior" name="Deep.LoginSystem.LoginService">
        <endpoint address="" behaviorConfiguration="RESTEndpointBehavior"
          binding="webHttpBinding" contract="Deep.LoginSystem.ILoginService" />
      </service>
      <service name="Deep.LoginSystem.Test">
        <endpoint address="" behaviorConfiguration="Deep.LoginSystem.TestAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Deep.LoginSystem.Test" />
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="5242880" maxBufferSize="5242880" maxReceivedMessageSize="5242880" receiveTimeout="00:02:00">
          <readerQuotas maxDepth="1000" maxStringContentLength="5242880" maxArrayLength="5242880" maxBytesPerRead="5242880" maxNameTableCharCount="5242880" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTEndpointBehavior">
          <webHttp />
        </behavior>
        <behavior name="Deep.LoginSystem.TestAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  
  </system.serviceModel>

  <system.web>
    <customErrors mode="Off" />
  </system.web>
  
  <connectionStrings><add name="DeepEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VASYA\SQLEXPRESS;initial catalog=Deep;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DB_A0BEB4_deepEntities" connectionString="metadata=res://*/DeepModel.csdl|res://*/DeepModel.ssdl|res://*/DeepModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5024.smarterasp.net;user id=DB_A0BEB4_deep_admin;password=deep12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>